<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserVerification</title>
</head>
<body>
    <div>
        <h2>User verification</h2>
        @using (Html.BeginForm("ViewCart", "User"))
        {
            <div>Please input your User Id:</div>@Html.TextBox("Id")<br />
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>

