<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>  
        <h2>About the website</h2> 
        <p>This bookstore website is the project of an online class, Introduction of the web depelopment with APS.NET MVC, taught by Mr. Okay. </p> 
        <p>The technologies used here include, ASP.NET MVC5, T-SQL Server, database, HTML, CSS, Javascript, Jquery, Bootstrap, Entity framework, stored procedure, etc.</p>
    </div>
    <div>
        <h2>About me</h2>
        <span>LinkedIn: <a href="https://www.linkedin.com/in.lifenyan">Lifen Yan</a></span>
        <span>GitHub: <a href="http://github.com/lfyan">lfyan</a></span>
    </div>
</body>
</html>

