<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div>
        <h3>
            This website was created by Group001 from the online class of ASP.NET MVC [第002期]. Group
            members are 大海, 婴宁, 云淡风轻 and 蜡笔小新.
        </h3>
        <span>The technologies we used include, but not limited to, ASP.NET MVC, SQL Server, database, HTML, CSS, Javascript, Jquery, Bootstrap, Entity framework, stored procedure etc.</span><br />
        <br />
        <span>This is the 1st version of our website. If there will be any new version released in the coming monthes, it will be announced here ASAP. Thanks for your interest.</span><br />
        <br />
        <span>大海's contribution: ASP.NET MVC, database, HTML/CSS, image category, search engine, etc.</span><br />
        <span>婴宁's contribution: ASP.NET MVC, database, HTML/CSS, image category, shopping cart, etc.</span><br />
        <span>云淡风轻's contribution: ASP.NET MVC, database, HTML/CSS, image category, etc.</span><br />
        <span>蜡笔小新's contribution: database, HTML/CSS, image category, etc.</span><br />
    </div>
</body>
</html>

