<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Acknowledgment</title>
</head>
<body>
    <p>We thanks to Mr.Okay from <a href="http://www.waspec.org">WASPEC</a> for his grateful instruction on APS.NET MVC and SQL Server.</p>
    <p>
        We thanks to <a href="http://www.nipic.com">昵图网</a> for using their
        picture as our website's <a href="http://www.nipic.com/show/3/24/4297582k18df3216.html">background image</a>.
    </p>

</body>
</html>
