<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <h1>Contact info list</h1>
    <ul>
        <li>大海 haipengcheng@outlook.com</li>
        <li>婴宁 yan20156@gmail.com</li>
        <li>云淡风轻 yanxiaojing8971@hotmail.com</li>
        <li>蜡笔小新 mznie@hotmail.com</li>
    </ul>
</body>
</html>
