<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h2>Oops! This is the error page.</h2>
        <p>Something was wrong in your last step. Please go back and input correct information.</p>
    </div>
</body>
</html>
